$color-primary: #DAD7CD;
$color-secondary: #A3B18A;
$color-tertiary: #588157;
$color-quaternary: #3A5A40;
$accent-quinary: #344E41;

$black: #000;
$off-black: #1C1C1E;
$white: #FFF;
$off-white: #CFD6DA;